.swagger-ui .info hgroup.main a {
    display: none;
}

.swagger-ui .info .title {
    display: none;
}


.swagger-ui .topbar .topbar-wrapper img {
    display: none;
}

.swagger-ui .topbar a {
    max-width: 470px
}

.swagger-ui .topbar .download-url-wrapper {
    flex: 1;
}


.swagger-ui .topbar .topbar-wrapper a {
    background-image: url(/img/favicon-api.ico);
    background-size: contain;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.swagger-ui .topbar .topbar-wrapper .link {
    display: flex;
    align-items: center;
}

    .swagger-ui .topbar .topbar-wrapper .link:after {
        content: 'House Finances API';
        font-size: 31px;
        color: #ffffff;
        vertical-align: middle;
        margin-left: 50px;
        margin-bottom: -16px;
        text-decoration: none;
    }
